// Variables globales
$color-principal: #ff6600;
$color-secundario: #333;
$color-fondo: #f4f4f4;
$color-texto: #fff;
$color-borde: #ddd;
$color-secundario-texto: #555;
$color-error: #ff3333;
$color-error-hover: #e60000;