// Botones con animación al pasar el mouse

.button {
    position: relative;
    overflow: hidden;
    transition: all 0.3s $animation-ease;

  
    &:hover {
      transform: scale(1.1);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }
  
    &:active {
      animation: bounce 0.4s $animation-ease;
    }
  }